body{
  background: white;
}

.menu{
  list-style: none;
  padding: 0;
  width: 650px;
  height: 5px;
  max-width: 1000px;
  margin: auto;
}

.menu li a{
  text-decoration: none;
  color: black;
  padding: 20px;
  display: block;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a:hover{
  background: mediumseagreen;
}


footer {
  background: #000;
  color: #fff;
  clear: both;
  padding: 10px 0px;
  margin: 0px;
}

.bajo {
  margin: 20px 100px;
  padding: 5px;
}

.pie {
  margin: 10px 0px;
  padding: 0px; 
}